In [ ]:
import os
from datetime import datetime
import pandas as pd
from geopy.distance import geodesic

path=
def num_date(x):
    date=datetime.strptime(x,"%Y%m%d")
    diff=date-datetime(1960,1,1)
    return diff.days
def num_distance(x,y):
    target=(x,y)
    shen_out=(25.1272,121.8156)
    dist=geodesic(shen_out,target)#target location should put in first place
    return dist.km

def dummy_for_date(x):
    date=datetime.strptime(x,"%Y-%m-%d")
    if date>datetime(2007,9,30):
        return 1
    else:
        return 0
def dummy_for_dateXnum_date(x,y):
    return x*y
def dummy_for_shenou(x):
    if x>50:
        return 1
    else:
        return 0
def str_coordinate(x,y):
    return (str(x),str(y))

In [ ]:
df=read_csv(,index_col=0)
df["num_date"]=df["date"].apply(num_date)
df["num_distance"]=df.apply(lambda x: num_distance(x["y"],x["x"]),axis=1)
df["date_dummy"]=df["date"].apply(dummy_for_date)
df["num_dateXdate_dummy"]=df.apply(lambda x: dumm_for_dateXnum_date(x["num_date"],x["date_dummy"]))
df["shenou_dummy"]=df["num_distance"].apply(dummy_for_shenou)
df["coordinate"]=df.apply(lambda x:str_coordinate(x["y"],x["x"]))
coordinate_part=df.get_dummies(df["coordinate"])
df=pd.concat([df,coordinate_part],axis=1)
df.to_csv("",index=True)

In [1]:
import pandas as pd
sample=pd.read_csv("D:\\User_Data\\Desktop\\Python_Kriging\\PM2.5_avg_combined_without_preprocessed.csv")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
sample

,Unnamed: 0,x,y,predicted_value,predicted_std,date
0,0,-1.00000,-1.000000,-1.000000,-1.000000,1980-01-01 00:00:00
1,0,120.72923,21.934511,13.921728,273.605728,19830815
2,1,120.84923,21.934511,14.127664,277.914460,19830815
3,2,120.75922,21.964510,13.981518,272.604559,19830815
4,3,120.72923,21.964510,13.930282,271.563753,19830815
...,...,...,...,...,...,...
41130701,3580,121.59923,25.264511,11.864055,332.878325,20161231
41130702,3581,121.50922,25.264511,12.189069,332.198199,20161231
41130703,3582,121.53923,25.294510,12.052210,334.758027,20161231
41130704,3583,121.59923,25.294510,11.849227,335.301767,20161231
41130705,3584,121.56923,25.294510,11.943183,334.962598,20161231